@import './catppuccin.css';
@import './catppuccin-frappe-highlight-js.css';
@import './theme.css';

:root {
	font-size: 18px;
}

@media screen and (max-width: 768px) {
	:root {
		font-size: 16px;
	}
}

@media screen and (max-width: 480px) {
	:root {
		font-size: 15px;
	}
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

a:link {
	color: var(--blue);
} /* normal link */
a:visited {
	color: var(--mauve);
} /* visited link */
a:active {
	color: var(--pink);
} /* clicked link */
a:hover {
	color: var(--rosewater);
} /* mouse over link */

b {
	color: var(--teal);
}

i {
	color: var(--blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1em 0em;
}

h1 {
	font-size: 2.4rem;
	color: var(--flamingo);
}

h2 {
	font-size: 1.8rem;
	color: var(--pink);
}

h3 {
	font-size: 1.6rem;
	color: var(--blue);
}

h4 {
	font-size: 1.4rem;
	color: var(--sapphire);
}

h5,
h5 i {
	font-size: 1.2rem;
	color: var(--green);
}

h6 {
	font-size: 1rem;
	color: var(--pink);
}
p {
	font-size: 1rem;
	color: var(--text);
	line-height: 1.5;
}

span {
	line-height: 1.5;
}

li {
	color: var(--lavender);
	margin-bottom: 7px;
}

blockquote {
	color: var(--flamingo);
}

details {
	margin: 0 10px;
	padding: 20px;
	color: var(--teal);
	background-color: var(--surface0);
}

details p {
	margin-left: 30px;
}

span.footnote,
a.footnote,
.footnote > p > a:first-child {
	color: var(--red);
	font-weight: bolder;
	position: relative;
	bottom: 0.5ex;
	text-decoration: none;
}

.footnote {
	margin-top: 100px;
}

.footnote p {
	color: var(--teal);
}

.footnote b {
	color: var(--red);

	margin-right: 5px;
}

.body-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	background-color: var(--base);
}

.main-body {
	box-sizing: border-box;
	margin: 1rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: var(--mantle);
	width: 100%;
	max-width: min(100vw, 56rem);
}

.list-star {
	color: red;
}

.strikethrough {
	text-decoration: line-through;
}

.center-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.anchor {
	position: absolute;
	transform: translateY(-50vh);
}
