@import './catppuccin.css';
@import './catppuccin-frappe-highlight-js.css';
@import './theme.css';

:root {
	font-size: 20px;
}

@media screen and (max-width: 768px) {
	:root {
		font-size: 16px;
	}
}

@media screen and (max-width: 480px) {
	:root {
		font-size: 15px;
	}
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

a:link {
	color: var(--blue);
} /* normal link */
a:visited {
	color: var(--mauve);
} /* visited link */
a:active {
	color: var(--pink);
} /* clicked link */
a:hover {
	color: var(--rosewater);
} /* mouse over link */

b {
	color: var(--teal);
}

i {
	color: var(--blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1em 0em;
}

h1 {
	font-size: 2.4rem;
	color: var(--flamingo);
}

h2 {
	font-size: 1.8rem;
	color: var(--pink);
}

h3 {
	font-size: 1.6rem;
	color: var(--blue);
}

h4 {
	font-size: 1.4rem;
	color: var(--sapphire);
}

h5,
h5 i {
	font-size: 1.2rem;
	color: var(--green);
}

h6 {
	font-size: 1rem;
	color: var(--pink);
}

figcaption {
	font-size: 0.8rem;
	font-style: italic;
	color: var(--pink);
}

p {
	font-size: 1rem;
	color: var(--text);
	line-height: 1.5;
}

hr {
	color: var(--surface0);
}

span {
	line-height: 1.5;
}

li {
	color: var(--lavender);
	margin-bottom: 7px;
}

details {
	margin: 0 10px;
	padding: 20px;
	color: var(--teal);
	background-color: var(--surface0);
}

details p {
	margin-left: 30px;
}

blockquote,
blockquote p {
	color: var(--flamingo);
}

.body-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	background-color: var(--base);
}

.main-body {
	box-sizing: border-box;
	margin: 1rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: var(--mantle);
	width: 100%;
	max-width: min(100vw, 56rem);
}

.center-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*  scroll behavior */

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* footnote animation */

.pulse {
	animation: pulse ease-in-out 0.8s 2;
}

@keyframes pulse {
	0% {
		scale: 1;
	}

	50% {
		scale: 1.65;
	}

	100% {
		scale: 1;
	}
}
